# Ignore Code::Blocks project files
*.cbp
*.layout
*.depend 

# Ignore build directories
/bin/
/obj/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific settings
.vscode/
.idea/

# Ignore backup files
*~

# Ignore compiled binaries
*.exe
*.o
*.out